.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .content {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .content .todo-app {
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container .content .todo-app__list {
  width: 100%;
}
.container .content .todo-app__add_todo {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #3D82EB;
  padding: 10px;
  gap: 1rem;
}
.icon {
  width: 32px;
  height: 32px;
}
/*# sourceMappingURL=todo-layout.css.map */