form {
  padding: 1rem;
  width: 500px;
  background: white;
  border-radius: 4px;
}
form .text h2 {
  text-align: center;
}
form .text h3 {
  text-align: center;
  margin: 0 0 10px 0;
}
form .text input {
  margin: 0;
  padding: 1rem;
  width: 90%;
  margin-bottom: 0.5rem;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}
form .text input :last-child {
  margin-bottom: 0;
}
form .text .input-file {
  margin-bottom: 0;
}
form .text ul {
  margin: 0;
  list-style: none;
  padding: 0 1rem;
  margin-bottom: 1rem;
  margin-block-start: 0;
}
form .text ul .file {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
form .text .close-btn {
  position: absolute;
  top: 0;
  right: 5px;
  background: inherit;
  border: none;
  font-size: 24px;
  cursor: pointer;
}
form .text .create-btn {
  background-color: #218838;
  color: #fff;
  font-weight: 400;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 4px;
  border: none;
  width: 100%;
  padding: 0.5rem;
}
/*# sourceMappingURL=todo-form.css.map */