.todo {
  width: 100%;
  margin: 0;
}
.todo :hover {
  box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.15);
}
.todo-container {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}
.todo-container__value {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.todo-container__actions {
  display: flex;
  width: 15%;
  justify-content: flex-end;
}
.todo-container :hover {
  box-shadow: 0px 0px 0px 0px;
}
.action-btn {
  width: 100%;
  background-color: white;
  border: 0;
}
.todo-preview {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 0.25rem;
}
.todo-preview .title {
  font-size: 16px;
  display: flex;
  flex-direction: row;
}
.todo-preview .date {
  font-size: 14px;
  color: grey;
}
.todo-preview .line-through {
  position: absolute;
  height: 1px;
  background: #bebebe;
  top: 20%;
  width: 100%;
}
.todo-preview .files-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  font-size: 16px;
  padding: 0;
  gap: 0.25rem;
  flex-wrap: wrap;
}
.todo-preview .files-list .file-field {
  padding: 0.25rem;
  border-radius: 10px;
  background-color: #E0FFFF;
}
.todo-preview .files-list .file-field :hover {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}
.todo-preview .files-list a {
  text-decoration: none;
}
.expired {
  color: red;
}
/*# sourceMappingURL=todo.css.map */